main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #8c54ff;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
  margin: 1rem;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.1em;
  background: #edd69c;
  color: var(--dark);
  font-family: "Poiret One", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", cursive;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

header {
  background: var(--light);
}

header a {
  color: var(--special);
}

li {
  list-style: none;
}

.space-between {
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}
.flex-end {
  justify-content: flex-end;
}
.card {
  width: 25%;
  text-align: center;
  /* border-width: 1rem;
  border-color: var(--darker); */
}

footer {
  background: var(--secondary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}
